@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@600;700;800&family=Lobster&family=Montserrat:wght@500;700&family=Poppins:wght@400;700&display=swap');

/* BODY STYLING */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* BANNER SECTION */
.first-section {
    background-color: #161616;
    border-radius: 30px;
    color: white;
    width: 1200px;
    height: 630px;
    margin-left: 100px;
    margin-right: 115px;
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-info {
    padding-left: 140px;
}

.head-info h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
    animation: text 3s 1
}

.head-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.head-img {
    margin-right: 79px;
    margin-top: 33px;
}

.head-img>img {
    width: 400px;
    height: 600px;
}

.btn {
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    border: none;
}

.btn a {
    color: white;
    font-family: 'Poppins';
    text-decoration: none;
}

/* BLOG AND MENU SECTION */

.second-section {
    display: flex;
}

.menus {
    width: 200px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 110px;
    display: grid;
    grid-template-rows: (3, 1fr);
    row-gap: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 25px;
}

.menu h3 {
    font-weight: 400;
    font-size: 16px;
}

.custom {
    background-color: #DD0000;
}

.custom a {
    color: white;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 120px;
}

.blog {
    width: 311px;
    height: 362px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.blog button {
    width: 100px;
    height: 32px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 20px;
    font-size: 16px;

}

.blog-details {
    margin-left: 20px;
}

.blog-info {
    display: flex;
    margin-left: 20px;
}

/* 2ND PAGE MATCH SECTION */

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 120px;
}

.match {
    width: 312px;
    height: 242px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    justify-content: center;
    padding-top: 20px;
}

.match-img {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;

}

.match img {
    padding-left: 10px;
    padding-right: 10px;
}

.match-info {
    text-align: center;
    line-height: 20px;
}

/* FOOTER SECTION */

footer {
    background-color: #161616;
    height: 444px;
    color: white;
    text-align: center;
}

footer h3 {
    font-size: 40px;
}

.footer {
    padding-top: 50px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1200px;
    margin-bottom: 40px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
}

.social {
    font-size: 30px;
    padding: 10px 10px 10px 10px;
}

/* RESPONSIVE FOR MOBILE VIEW */

@media only screen and (min-device-width : 320px) and (max-device-width: 450px) {
    .first-section {
        width: 80%;
        height: 472px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin-left: 30px;
        margin-top: 30px;

    }

    .head-info {
        margin-left: -100px;
        padding-right: 40px;
    }

    .head-info h1 {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        animation: none;
    }

    .head-info p {
        text-align: center;
        font-size: 10px;
        margin-top: -20px;
        line-height: 20px;
    }

    .btn {
        margin-top: -7px;
        margin-bottom: 7px;
        margin-left: 5px;
    }


    .first-section img {
        position: relative;
        width: 95%;
        height: 200px;
        top: -50px;
        left: 60px;
        margin-top: 24px;
    }

    .second-section {
        flex-direction: column;
    }

    .menus {
        margin-left: 50px;
        background: #FFFFFF;
        margin-top: -120px;
    }

    .menu {
        border: 1px solid grey;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5px;
    }

    .footer h3 {
        margin-top: -30px;
        font-size: 20px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
        margin-right: 100px;
        margin-left: 100px;

    }

    .footer-info span {
        font-size: 12px;

    }



}

/* RESPONSIVE FOR TABLET VIEW */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .first-section {
        width: 80%;
        height: 472px;
        margin-left: 80px;
        margin-top: 30px;

    }

    .head-info h1 {
        font-size: 40px;
        line-height: 35px;
        animation: none;
    }

    .first-section img {
        position: relative;
        width: 323px;
        height: 340px;
        top: 40px;
        left: 20px;
        margin-top: 24px;

    }

    .second-section {
        flex-direction: column;
    }

    .menus {
        margin-left: 50px;
        background: #FFFFFF;
        margin-top: -120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu {
        border: 1px solid grey;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 50px;
        margin-top: -190px;

    }

    .footer-info {
        display: flex;
        margin-top: -20px;
        margin-right: 50px;
        margin-left: 50px;

    }


}



@keyframes text {
    from {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    to {}
}